body{background-image: url(../source/pattern.jpg);}
header{
    display: flex;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    height: 50px;
    z-index: 1;
}
img{margin-left: 2vh;}
nav{margin-left: 500px;}
ul{
    list-style-type:none;
    font-size: 14pt;
}
li{
    display: inline;
    margin: 0 1.6vh;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: black;
}
a:focus{outline-style: none;}
a:hover{
    color: red;
    background-color: yellow;
}
footer{
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}
h5{text-align: center;}