/* Home */
.content-home{
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    position: relative;
    top: 100px;
    padding: 20px;
    margin-bottom: 100px;
    width: 1000px;
}
.judul-home{
    text-align: center;
    margin-bottom: 50px;
}
.gambar{
    width:500px;
    height: 300px;
    overflow: hidden;
    align-items:center;
}
.review{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    display: flex;
}
.review2{ margin-left: 20px;}

/* About */
.content-about{
    background-color: white;
    margin: 20vh 42vh 5vh 52vh;
    font-size: 14pt;
    padding: 1vh;
}
.content-about2{
    padding:1vh 5vh;
    border-style: groove;
}
.Judul-about{text-align: center;}
/* Movie List Editor */
.content-mle{
    width:1000px;
    background-color: white;
    top: 90px;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 90px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.input-search{
    outline-style: none;
    margin-top: 30px;
}
.film-list{ 
    border-collapse: collapse;
    margin-left: 100px;
    margin-right: 100px;
}
.film-list td{
    padding-right: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.tableForm-content{
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 50px;
    max-width: 100%;
}
.tableForm-content th{text-align: left;}
.tableForm-content td{
    padding-top: 20px;
    text-align: right;
    padding-left: 200px;
}